
@{
    Layout = null;
}
@model IList<BlogWeb1.Models.Post>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table>
            <thead>
                <tr>
                    <td></td>
                    <td>Título</td>
                    <td>Resumo</td>
                    <td>Categoria</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in Model)
                {
                <tr>
                    <td><a href="/Post/Vizualisa/@post.Id">Editar</a></td>
                    <td>@post.Titulo</td>
                    <td>@post.Resumo</td>
                    <td>@post.Categoria</td>
                    <td><a href="/Post/Remove/@post.Id">Remover</a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
